html {
  scroll-behavior: smooth;
}

.myMargin {
    margin-top: 40px;
}

.tableCss {
    margin-top: 5px;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon {
    vertical-align: middle;
    height: 4%;
    width: 4%;
}