<!DOCTYPE HTML>

<html>
<head>
    <title>AngularJs PUT Form Nested Object to SpringBoot Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/angularJsApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<div class="container" ng-app="app" ng-controller="jsaController">
    <h3>Tweet List:</h3>
    <div id="customerlist" class="row col-md-7 table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>SNo</th>
                <th>Tweet</th>

            </tr>
            <tr ng-repeat="tweet in listAllTweets" ng-class-even="'info'" ng-class-odd="'success'">
                <td>{{ $index + 1 }}</td>
                <td>{{ tweet }}</td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>